.formLable{
    position: relative;
    top:2px;
    right:1.8px
}
.select{
    position: relative;
    top:-24px
}
#status{
    font-size :3pt;
}
.fallowing .leftly{
    margin: 1px
}
.leftly{
    float: right;
}
[type=submit]:not(:disabled).search, button:not(:disabled).add, button:not(:disabled).logout, button:not(:disabled).company{
 top : 10px;
 margin-left: 7px;
}
