.addedDate{
    min-width: 110px;

}
.companyName{
    min-width: 200px;

}
.service{
    min-width: 100px;

}
.resubmissioned{
    min-width: 100px;

}
.contactor{
    min-width: 90px;

}
.rank{
    min-width: 90px;

}
.type{
    min-width: 90px;

}
.subtype{
    min-width: 100px;

}
.body{
    min-width: 1000px;

}
.channel{
    min-width: 100px;

}
.log{
    min-width: 100px;

}
.closed{
    min-width: 100px;

}
.receptionist{
    min-width: 100px;

}
.check{
    min-width: 1000px;

}
.processed{
    min-width: 1000px;

}
.agentNo{
    min-width: 100px;

}
.remark{
    min-width: 1000px;

}
.maintenanceTeam{
    min-width: 130px;

}
.dutyed{
    min-width: 100px;

}
.agentTeam{
    min-width: 100px;

}
.plannedDate{
    min-width: 140px;

}
.completedDate{
    min-width: 140px;

}
.result{
    min-width: 100px;

}
.MM{
    min-width: 100px;

}
    